@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*HEADER*/
.app-header {
  display: flex;
  align-items: center;
  background-color: #01403a;
  color: white;
  font-size: 40px;
  line-height: 56px;
}
.app-header p{
  font-family: "Roboto", sans-serif;
  margin: 2%;
  font-weight: 700;
}
#coinSelect{
  height: 20px;
  background-color: transparent;
  border: none;
  color: white;
}